src/main/resources/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://trainings.ws.jiten.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
	targetNamespace="http://trainings.ws.jiten.com/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://trainings.ws.jiten.com/">
		
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer"/>
					<xsd:element name="product" type="tns:product"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" minOccurs="0" type="xsd:string"/>
					<xsd:element name="description" minOccurs="0" type="xsd:string"/>
					<xsd:element name="quantity" minOccurs="0" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>

			
			<xsd:element name="getOrdersRequest" type="tns:getOrdersRequest"/>
			<xsd:element name="getOrdersResponse" type="tns:getOrdersResponse"/>
			
			<xsd:element name="deleteOrdersRequest" type="tns:deleteOrdersRequest"/>
			<xsd:element name="deleteOrdersResponse" type="tns:deleteOrdersResponse"/>
			
			<xsd:complexType name="deleteOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" minOccurs="0" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="deleteOrdersResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" minOccurs="0" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getOrdersResponse">
				<xsd:sequence>
					<xsd:element name="order" minOccurs="0" maxOccurs="unbounded" type="tns:order"/>
				</xsd:sequence>
			</xsd:complexType>
			
			
			<xsd:element name="createOrdersRequest" type="tns:createOrdersRequest"/>
			<xsd:element name="createOrdersResponse" type="tns:createOrdersResponse"/>
			
			<xsd:complexType name="createOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
					<xsd:element name="order" type="tns:order"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createOrdersResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="tns:getOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="deleteOrdersRequest">
		<wsdl:part element="tns:deleteOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteOrdersResponse">
		<wsdl:part element="tns:deleteOrdersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="tns:createOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="tns:createOrdersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest" />
			<wsdl:output message="tns:getOrdersResponse" />
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest" />
			<wsdl:output message="tns:createOrdersResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteOrders">
			<wsdl:input message="tns:deleteOrdersRequest" />
			<wsdl:output message="tns:deleteOrdersResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="CustomerOrdersserviceSOAPBinding" type="tns:CustomerOrdersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input >
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input >
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="deleteOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input >
			<wsdl:output name="deleteOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="tns:CustomerOrdersserviceSOAPBinding"
			name="CustomerOrdersPort">
			<soap:address location="http://localhost:8080/wsdlfirstws/services/customerOrdersService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
